/* Variables */
.ed-and-ilk-primary-background {
	background: #1898c7;
	color: #f4f4f4;
}

.ed-and-ilk-light-background {
    background: #f4f4f4;
    color: #333;
}

.ed-and-ilk-blue {
    background: #13212e;
    color: #f4f4f4;
}

.ed-and-ilk-secondary-background {
	background: #98c73d;
	color: #f4f4f4;
}

.ed-and-ilk-light-text {
	color: #f4f4f4;
}
/* Variables */